$verdeclaro: #6FB52B;
$verdeoscuro: #0C6A22;
$verdemedio: #2d800e;
$grisoscuro: #2D2D2C;
$grismedio: #54595F;
$grisclaro: #7A7A7A;
$blanco: #FFF;
$negro: #000;
$rosaceo: #e27c7c;
$beige: #FEFCEB;
$azulito: #E8F7FE;
$grismuyclaro: #f5f5f5e8;
$verdemuyclaro: #dff0cd;
$cuidado: #ff3333;
$oscurocuidado: #cc0000;
$clarito: #f8f8f8;
$grisborde: #ccc;
